*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
Diana/src/main/java/com/github/urmichm/diana/Main.kt
Diana/src/test/java/com/github/urmichm/diana/LocalSecrets.kt
